{% extends "soporte.html" %}
{% block title %} Recuperar Password - Seguimiento de Proyectos {% endblock %}
{% block content %}
{% load staticfiles %}
<html class="no-js" lang="es">
 <title>Recuperar Password - Seguimiento de Proyectos</title>
	<div class="error-pagewrap">
		<div class="error-page-int">
            <div class="text-center m-b-md ps-recovered">
                <a href={% url 'homepage' %}><img class="main-logo" alt="" src= {% static 'kiaalap-master/img/logo/apple-icon-180x180.png'%}  /></a>
                <h3>Recuperación de Clave</h3>
                <p>Seguimiento de Proyectos</p>
            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body poss-recover">
                        <p>
                            Ingrese su dirección de correo electrónico y su contraseña será restablecida y le será enviada por correo electrónico.
                        </p>
                        <form action="" id="loginForm" method="post">{% csrf_token %}
                            <div class="form-group" style="text-align: center;">
                                {{ form.as_p }}
                            </div>
                            <button class="btn btn-success btn-block" type="submit">Recuperar Clave</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text-center login-footer">
                <p>Copyright © 2018. Cátedra UNESCO Tecnologías de apoyo para la Inclusión Educativa All Rights Reserved. <a href={% url 'homepage' %}>UPS </a></p>
            </div>
		</div>
    </div>
{% endblock %}