{% extends "soporte.html" %}
{% block title %} Recuperar Password  - Seguimiento de Proyectos {% endblock %}
{% block content %}
{% load staticfiles %}
<html class="no-js" lang="es">
 <title>Recuperar Password - Seguimiento de Proyectos</title>
	<div class="error-pagewrap">
		<div class="error-page-int">
            <form action="" method="post">{% csrf_token %}
                <form action="#" method="post">
                    <div class="text-center m-b-md custom-login">
                        <a href={% url 'homepage' %}><img class="main-logo" alt="" src= {% static 'kiaalap-master/img/logo/apple-icon-180x180.png'%}  /></a>
                        <h3>Recuperación de Clave</h3>
				        <p>Seguimiento de Proyectos</p>
                    </div>
                    <div class="content-error">
                        <div class="hpanel">
                            <div class="panel-body">
                                <p>
                                    Su clave ha sido establecida. Usted puede seguir adelante e iniciar sesión.
                                </p>
                                <div style="text-align: center;">
                                    <a type="button" href="{% url 'login' %}">Iniciar Sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center login-footer">
                        <p>Copyright © 2018. Cátedra UNESCO Tecnologías de apoyo para la Inclusión Educativa All Rights Reserved. <a href={% url 'homepage' %}>UPS </a></p>
                    </div>
                </form>
            </form>
		</div>
    </div>
{% endblock %}