{% extends "soporte.html" %}
{% block title %} Lista de Tutores - Seguimiento de Proyectos {% endblock %}
{% block content %}
{% load staticfiles %}
<!-- /navbar -->
<title> Lista de Tutores - Seguimiento de Proyectos </title>
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href={% url 'homepage' %}><img class="main-logo" alt="" src= {% static 'kiaalap-master/img/logo/apple-icon-76x76.png'%}  /></a>
                <strong><a href={% url 'homepage' %}><img   alt="" src={% static 'kiaalap-master/img/logo/favicon-32x32.png'%} /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        {% if user.is_authenticated %}
                        <li>
                            <a title="Home" aria-expanded="false" href={% url 'homepage' %}><span class="educate-icon educate-home icon-wrap"></span><span class="mini-click-non"> Home</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href={% url 'Proyecto' %}><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span><span class="mini-click-non"> Proyecto</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Lista de Proyectos" href={% url 'Proyecto' %}><span class="mini-sub-pro">Lista de Proyectos</span></a></li>
                                <li><a title="Agregar Proyecto" href={% url 'guardar_proyecto' %}><span class="mini-sub-pro">Agregar Proyecto</span></a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" aria-expanded="false" href={% url 'Tutor' %}><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non"> Tutores </span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Tutores" href={% url 'Tutor' %}><span class="mini-sub-pro">Lista de Tutores</span></a></li>
                                <li><a title="Agregar Tutor" href={% url 'guardar_tutor' %}><span class="mini-sub-pro">Agregar Tutor</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href={% url 'Autor' %}><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non"> Autores</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Autores" href={% url 'Autor' %}><span class="mini-sub-pro">Lista de Autores</span></a></li>
                                <li><a title="Agregar Autor" href={% url "guardar_autor" %}><span class="mini-sub-pro">Agregar Autor</span></a></li>
                            </ul>
                        </li>
                        <li >
                            <a class="has-arrow" aria-expanded="false" href={% url 'Institucion' %}><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Instituciones </span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Instituciones" href={% url 'Institucion' %}><span class="mini-sub-pro">Lista de Instituciones</span></a></li>
                                <li><a title="Agregar Institucion" href={% url 'guardar_institucion' %}><span class="mini-sub-pro">Agregar Institución</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href={% url 'ResponsableInstitucional' %}><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Responsable Inst</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Resp. Inst" href={% url 'ResponsableInstitucional' %}><span class="mini-sub-pro">Lista de Resp. Inst</span></a></li>
                                <li><a title="Agregar Resp. Inst" href={% url 'guardar_responsableinstitucional' %}><span class="mini-sub-pro">Agregar Resp. Inst</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href={% url 'TipoProyecto' %}><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Tipos de Proyecto</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista T. de P." href={% url 'TipoProyecto' %}><span class="mini-sub-pro">Lista T. de P.</span></a></li>
                                <li><a title="Agregar T. de P." href={% url 'guardar_tipoproyecto' %}><span class="mini-sub-pro">Agregar T. de P.</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href="{% url 'AreaConocimiento' %}"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Área de Conocim</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista A. de C." href={% url 'AreaConocimiento' %}><span class="mini-sub-pro">Lista A. de C.</span></a></li>
                                <li><a title="Agregar A. de C." href={% url 'guardar_areaconocimiento' %}><span class="mini-sub-pro">Agregar A. de C.</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href="{% url 'Carrera' %}"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Carreras</span></a>
                            <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                                <li><a title="Lista de Carreras" href={% url 'Carrera' %}><span class="mini-sub-pro">Lista de Carreras</span></a></li>
                                <li><a title="Agregar Carrera" href={% url 'guardar_carrera' %}><span class="mini-sub-pro">Agregar Carrera</span></a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a title="Home" aria-expanded="false" href={% url 'homepage' %}><span class="educate-icon educate-home icon-wrap"></span><span class="mini-click-non"> Home</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href={% url 'Proyecto' %}><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span><span class="mini-click-non"> Proyecto</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Lista de Proyectos" href={% url 'Proyecto' %}><span class="mini-sub-pro">Lista de Proyectos</span></a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" aria-expanded="false" href={% url 'Tutor' %}><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non"> Tutores </span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Tutores" href={% url 'Tutor' %}><span class="mini-sub-pro">Lista de Tutores</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href={% url 'Autor' %}><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non"> Autores</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Autores" href={% url 'Autor' %}><span class="mini-sub-pro">Lista de Autores</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href={% url 'Institucion' %}><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Instituciones </span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Instituciones" href={% url 'Institucion' %}><span class="mini-sub-pro">Lista de Instituciones</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href={% url 'ResponsableInstitucional' %}><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Responsable Inst</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista de Resp. Inst" href={% url 'ResponsableInstitucional' %}><span class="mini-sub-pro">Lista de Resp. Inst</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href={% url 'TipoProyecto' %}><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Tipos de Proyecto</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista T. de P." href={% url 'TipoProyecto' %}><span class="mini-sub-pro">Lista T. de P.</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href="{% url 'AreaConocimiento' %}"><span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Área de Conocim</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Lista A. de C." href={% url 'AreaConocimiento' %}><span class="mini-sub-pro">Lista A. de C.</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false" href="{% url 'Carrera' %}"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Carreras</span></a>
                            <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                                <li><a title="Lista de Carreras" href={% url 'Carrera' %}><span class="mini-sub-pro">Lista de Carreras</span></a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href={% url 'homepage' %}><img class="main-logo" alt="" src="{% static '/kiaalap-master/img/logo/apple-icon-60x60.png'%}"/></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="{% url 'homepage' %} " class="nav-link">Home</a>
                                                </li>
                                                <li class="nav-item"><a href="{% url 'Tutor' %}" class="nav-link">Tutores</a>
                                                </li>
                                                <li class="nav-item"><a href="{% url 'Autor' %}" class="nav-link">Autores</a>
                                                </li>
                                                <li class="nav-item"><a href="{% url 'ResponsableInstitucional' %}" class="nav-link">Responsables</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    {% if user.is_authenticated %}
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <img src="{% static '/kiaalap-master/img/product/usuario.jpg' %}" alt="" />
                                                        <span class="admin-name">{{ user.get_username }} </span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                    </a>
                                                        {% for u in user.groups.all%}
                                                            {% if u.name == "SuperUsuarios" %}
                                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                                    <li><a href="{% url 'usuarios' %}"><span class="edu-icon edu-settings author-log-ic"></span>Usuarios</a>
                                                                    </li>
                                                                    <li><a href={% url 'editar_clave' user.id %}><span class="edu-icon edu-locked author-log-ic"></span>Cambio de Clave</a>
                                                                    </li>
                                                                    <li><a href={% url 'logout' %}><span class="edu-icon edu-locked author-log-ic"></span>Salir</a>
                                                                    </li>
                                                                </ul>
                                                            {% else %}
                                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                                    <li><a href={% url 'editar_clave' user.id %}><span class="edu-icon edu-locked author-log-ic"></span>Cambio de Clave</a>
                                                                    </li>
                                                                    <li><a href={% url 'logout' %}><span class="edu-icon edu-locked author-log-ic"></span>Salir</a>
                                                                    </li>
                                                                </ul>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <img src="{% static '/kiaalap-master/img/product/sinusuario.jpg' %}" alt="" />
                                                        <span class="admin-name">Sin Usuario</span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li><a href={% url 'loginv' %}><span class="edu-icon edu-locked author-log-ic"></span>Iniciar Sesión</a>
                                                        </li>
                                                        <li><a href={% url 'registro' %}><span class="edu-icon edu-locked author-log-ic"></span>Registrarse</a>
                                                        </li>
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                <li class="nav-item nav-setting-open"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-menu"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        {% if user.is_authenticated %}
                                        <li><a href={% url 'homepage' %}>Home</a></li>
                                        <li><a data-toggle="collapse" data-target="#Charts" href={% url 'Proyecto' %}>Proyectos<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href={% url 'Proyecto' %}>Lista de Proyectos</a>
                                                </li>
                                                <li><a href={% url 'guardar_proyecto' %}>Agregar Proyecto</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" href={% url 'Tutor' %}>Tutores <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Tutor' %}>Lista de Tutores</a>
                                                </li>
                                                <li><a href={% url 'guardar_tutor' %}>Agregar Tutor</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demopro" href={% url 'Autor' %}>Autores <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Autor' %}>lista de Autores</a>
                                                </li>
                                                <li><a href={% url 'guardar_autor' %}>Agregar Autor</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#democrou" href={% url 'Institucion' %}>Instituciones<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Institucion' %}>Lista de Insituciones</a>
                                                </li>
                                                <li><a href={% url 'guardar_institucion' %}>Agregar Institución</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demolibra" href={% url 'ResponsableInstitucional' %}>Responsables Insitucionales <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li><a href={% url 'ResponsableInstitucional' %}>Lista de Responsables Institucionales</a>
                                                </li>
                                                <li><a href={% url 'guardar_responsableinstitucional' %}>Agregar Responsable Institucional</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demodepart" href={% url 'TipoProyecto' %}>Tipos de Proyecto <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demodepart" class="collapse dropdown-header-top">
                                                <li><a href={% url 'TipoProyecto' %}>Lista de Tipo de Proyectos</a>
                                                </li>
                                                <li><a href={% url 'guardar_tipoproyecto' %}>Agregar Tipo de Proyecto</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demo" href={% url 'AreaConocimiento' %}>Área de Conocimiento<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demo" class="collapse dropdown-header-top">
                                                <li><a href={% url 'AreaConocimiento' %}>Lista de Área de Conocimiento</a>
                                                </li>
                                                <li><a href={% url 'guardar_areaconocimiento' %}>Agregar Área de Conocimiento</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href={% url 'Carrera' %}>Carrearas <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Carrera' %}>Lista de Carreras</a>
                                                </li>
                                                <li><a href={% url 'guardar_carrera' %}>Agregar Carrera</a>
                                                </li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <li><a href={% url 'homepage' %}>Home</a></li>
                                        <li><a data-toggle="collapse" data-target="#Charts" href={% url 'Proyecto' %}>Proyectos<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href={% url 'Proyecto' %}>Lista de Proyectos</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" href={% url 'Tutor' %}>Tutores <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Tutor' %}>Lista de Tutores</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demopro" href={% url 'Autor' %}>Autores <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Autor' %}>lista de Autores</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#democrou" href={% url 'Institucion' %}>Instituciones<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Institucion' %}>Lista de Insituciones</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demolibra" href={% url 'ResponsableInstitucional' %}>Responsables Insitucionales <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li><a href={% url 'ResponsableInstitucional' %}>Lista de Responsables Institucionales</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demodepart" href={% url 'TipoProyecto' %}>Tipos de Proyecto <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demodepart" class="collapse dropdown-header-top">
                                                <li><a href={% url 'TipoProyecto' %}>Lista de Tipo de Proyectos</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demo" href={% url 'AreaConocimiento' %}>Área de Conocimiento<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demo" class="collapse dropdown-header-top">
                                                <li><a href={% url 'AreaConocimiento' %}>Lista de Área de Conocimiento</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href={% url 'Carrera' %}>Carrearas <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                                <li><a href={% url 'Carrera' %}>Lista de Carreras</a>
                                                </li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" class="sr-input-func">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href={% url 'homepage' %}>Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod"> Lista de Tutores </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% if user.is_authenticated %}
                        <div class="product-status-wrap">
                            <h4>Lista de Tutores</h4>
                            <div class="add-product">
                                <a href={% url 'guardar_tutor' %} >Agregar Tutor</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="product-status-wrap">
                        <h4>Lista de Tutores</h4>
                        <div class="add-product">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
    {% if user.is_authenticated %}
        <div class="contacts-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    {% for tutor in tutores %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                                <div class="panel-body custom-panel-jw">
                                    <div class="social-media-in">
                                        <a href="{% url "tutor_detallado" tutor.id %}"><i class="fa fa-info-circle"></i></a>
                                        <a href="{% url "editar_tutor" tutor.id %}"><i class="fa fa-check-circle"></i></a>
                                        <a href="{% url "eliminar_tutor" tutor.id %}" onclick="return confirm('¿Seguro que deseas eliminarlo?')"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                    {% if tutor.imagen_tutor%}
                                         <img  class="img-circle m-b" src="{{ tutor.imagen_tutor.url }}" style="width:150px;height:150px" alt="logo"/>
                                    {%else %}
                                        No se ha incluido alguna imagen para el Tutor.
                                    {%endif%}
                                    <h3><a href="">{{ tutor.nombre_tutor }}</a></h3>
                                    <p class="all-pro-ad">{{ tutor.apellido_tutor }}</p>
                                    <p>
                                        {{ tutor.telefono_tutor }} <br>
                                        {{ tutor.correo_tutor }}
                                    </p>
                                </div>
                                <div class="panel-footer contact-footer">
                                    <div class="professor-stds-int">
                                        <div class="professor-stds">
                                             <div class="contact-stat"><span>Carrera: </span> <strong>{{ tutor.Carrera_tutor.nombre_carrera }}</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="contacts-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    {% for tutor in tutores %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                                <div class="panel-body custom-panel-jw">
                                    <div class="social-media-in">
                                        <a href="{% url "tutor_detallado" tutor.id %}"><i class="fa fa-info-circle"></i></a>
                                    </div>
                                    {% if tutor.imagen_tutor%}
                                         <img  class="img-circle m-b" src="{{ tutor.imagen_tutor.url }}" style="width:150px;height:150px" alt="logo"/>
                                    {%else %}
                                        No se ha incluido alguna imagen para el Tutor.
                                    {%endif%}
                                    <h3><a href="">{{ tutor.nombre_tutor }}</a></h3>
                                    <p class="all-pro-ad">{{ tutor.apellido_tutor }}</p>
                                    <p>
                                        {{ tutor.telefono_tutor }} <br>
                                        {{ tutor.correo_tutor }}
                                    </p>
                                </div>
                                <div class="panel-footer contact-footer">
                                    <div class="professor-stds-int">
                                        <div class="professor-stds">
                                             <div class="contact-stat"><span>Carrera: </span> <strong>{{ tutor.Carrera_tutor.nombre_carrera }}</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}