{% extends "soporte.html" %}
{% block title %} 404 - Seguimiento de Proyectos {% endblock %}
{% block content %}
{% load staticfiles %}
<title> 404 - Seguimiento de Proyectos </title>
    <div class="error-pagewrap">
		<div class="error-page-int">
			<div class="content-error">
				<h1>ERROR <span class="counter"> 404</span></h1>
				<p>Lo sentimos, pero la página que estás buscando no ha sido encontrada. Intente revisar la URL para detectar el error.</p>
				<a href="{% url 'homepage' %}">Seguimiento de Poryectos</a>
			</div>
			<div class="text-center login-footer">
				<p>Copyright © 2018. Universidad Politécnica Salesiana. <a href={% url 'homepage' %}>UPS </a></p>
			</div>
		</div>
    </div>
{% endblock %}